

<nav class="bg-blue-800 text-white p-4 flex justify-between">
  <div class="font-bold">Employee UI</div>
  <div class="space-x-4">
    <a
      routerLink="/home"
      *ngIf="auth.isLoggedIn() && currentUrl !== '/home'"
      routerLinkActive="text-yellow-300 underline"
      [routerLinkActiveOptions]="{ exact: true }"
      class="hover:underline"
      >Home</a
    >
    <a
      routerLink="/dashboard"
      *ngIf="auth.isLoggedIn()"
      routerLinkActive="text-yellow-300 underline"
      class="hover:underline"
      >Dashboard</a
    >
    <a
      routerLink="/login"
      *ngIf="!auth.isLoggedIn() && currentUrl !== '/home'"
      routerLinkActive="text-yellow-300 underline"
      class="hover:underline"
      >Login</a
    >
    <button
      *ngIf="auth.isLoggedIn()"
      (click)="logout()"
      class="hover:underline"
    >
      Logout
    </button>
  </div>
</nav>

<router-outlet></router-outlet>